.name {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    color: #0c0c0c;
}

.input {
    display: block;
    width: 200px;
    height: 22px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid darkgreen;
    border-radius: 15px;
    background-color: rgb(121, 177, 126);
    
    &:hover,
    &:focus {
        border: 2px solid red;
    }

}

input:focus,
input:hover {
    outline: none;
}